<div class="card">
  <div class="card-header">
    <h3>Product</h3>
    <div>
     <a href="#" class="btn btn-primary">Create New Product</a>
  </div>
  </div>
  
  <div class="card-body">
    <div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.products}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{code}}</td>
        <td>{{name}}</td>
         <td>{{category}}</td>
          <td>{{brand}}</td>
          <td>{{type}}</td>
          <td>{{description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item">
            <a class="page-link" href="?page={{previous}}&size={{size}}">Previous</a>
          </li>
          {{#each this.pageNumbers}}
            {{#if isCurrent}}
              <li class="page-item active">
                <a class="page-link" href="javascript:;">{{value}}</a>
              </li>
            {{else}}
              <li class="page-item">
                <a class="page-link" href="?page={{value}}&size={{../size}}">{{value}}</a>
              </li>
            {{/if}}
          {{/each}}
          <li class="page-item">
            <a class="page-link" href="?page={{next}}&size={{size}}">Next</a>
          </li>
        </ul>
      </nav>
</div>
  </div>
</div>

